.header4 {
  background-color: #fcfcfc;

  color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  a {
    text-decoration: none;
  }
  &__collections-nav {
    a {
      padding-right: 20px;
      display: inline-block;
      color: #2c2952;
      font-weight: 500;
      &:hover {
        color: #e63b49;
      }
    }
  }
  &__logo {
    font-size: 2rem;
    a {
      color: #2c2952;
    }
  }
}
